@font-face {
	font-family: "Passion-Bold";
	src: url('assets/font/PassionOne-Bold.ttf');
}
@font-face {
	font-family: "Passion-Regu";
	src: url('assets/font/PassionOne-Regular.ttf');
}

html{
  background-image : url('assets/image/fond.jpg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-size : 100% 100%;
  font-family : "Passion-Bold", sans-serif;
}
span{
  font-size:1.5em;
  color: #2C2C2C;
  outline: 2px outset #000a8f;
  background-color: #e3e3e3;
  font-weight:100;
  font-family : "Passion-Regu", sans-serif;
  box-shadow: 0px 0px 7px 5px #2283C4;
}

h1{
  font-size:3em;
  color: #2C2C2C;
}